#quest-info {
  cursor: default !important;
}

#quest-info .tooltipTrigger {
  display: inline-block;
}

#quest-info .tooltipTrigger a {
  display: inline-block;
  text-overflow: ellipsis;
  white-space:nowrap;
  overflow:hidden;
  color: #bf534d;
  width: 175px;
}


#quest-info .panel {
  margin-top: 1px;
  margin-bottom: 0px;
}

#quest-info .form-group {
  margin-bottom: 5px;
}

#quest-info select {
  height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#quest-info .questTitle {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#quest-info .questType {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: center;
}

#quest-info .questInfo td {
  vertical-align: top;
}

#quest-info .questInfo .panel {
  margin-top: 10px;
  margin-bottom: -14px;
  margin-left: 1px;
  margin-right: 1px;
}

#quest-info .questInfo ul {
  padding-left: 15px;
  margin-bottom: 0px;
}

#quest-info .questInfo {
  display: flex;
}

#quest-info .questInfo .panel {
  flex: 1;
}

#quest-info .questInfo .reqDetail, #quest-info .questInfo .prereqName {
  padding-left: 15px;
}

#quest-info .questInfo .prereqName a {
  text-decoration: none;
}

#quest-info .questInfo .prereqName a span {
  cursor: pointer !important;
}
