#quest-info {
  cursor: default !important;
}

#quest-info .container {
  min-height: 25em;
}

#quest-info .tooltipTrigger {
  display: inline-block;
}

#quest-info .tooltipTrigger a {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #bf534d;
  width: 175px;
}

#quest-info .panel {
  margin-top: 1px;
  margin-bottom: 0px;
}

#quest-info .form-group {
  margin-bottom: 5px;
}

#quest-info select {
  height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#quest-info .quest-title {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#quest-info .quest-type {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: center;
}

#quest-info .quest-info td {
  vertical-align: top;
}

#quest-info .quest-info .panel {
  margin-top: 10px;
  margin-bottom: -14px;
  margin-left: 1px;
  margin-right: 1px;
}

#quest-info .quest-info ul {
  padding-left: 15px;
  margin-bottom: 0px;
}

#quest-info .quest-info {
  display: flex;
}

#quest-info .quest-info .panel {
  flex: 1;
}

#quest-info .quest-info .reqDetail,
#quest-info .quest-info .prereqName {
  padding-left: 15px;
}

#quest-info .quest-info .prereqName a {
  text-decoration: none;
}

#quest-info .quest-info .prereqName a span {
  cursor: pointer !important;
}

#quest-info .cat-indicator {
  display: inline-block;
  height: 1em;
  width: 4px;
  vertical-align: middle;
  margin-right: 4px;
  flex: 0 0 auto;
}

#quest-info .dropdown-menu {
  max-height: 20em;
  overflow-y: scroll;
}

#quest-info .dropdown-menu::-webkit-scrollbar {
  width: 1em;
}

#quest-info .quest-select {
  display: flex;
  align-items: baseline;
  align-content: center;
}

#quest-info .quest-select > div:last-child {
  width: calc(100% - 12em);
}

#quest-info .quest-select > div:first-child button {
  width: 12em;
}

#quest-info #quest-name-select {
  width: 100%;
  display: flex;
  align-items: center;
}

#quest-info .quest-item {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#quest-info .report {
  text-align: right;
}

#quest-info .report button {
  color: #777;
}

#quest-info .report button:hover {
  color: inherit;
}
